<h1>Authors</h1>
<a href="/">Homepage</a>
<a href="/articles">Articles</a>

{{#each entries}}
<ul>
  <li>
    {{this.name}}. {{this.articlesCount}} articles written, last updated on {{this.updated}}
  </li>
</ul>
{{/each}}
